{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    <div class="container">
        {% for flashError in app.flashes('verify_email_error') %}
            <div class="alert alert-danger" role="alert">{{ flashError }}</div>
        {% endfor %}
        <h1>Inscription</h1>
        {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.mail, {
            label: 'Mail'
        }) }}
        {{ form_row(registrationForm.plainPassword.first, {
            label: 'Password'
        }) }}
        {{ form_row(registrationForm.plainPassword.second, {
            label: 'Confirm your password'
        }) }}
        {{ form_row(registrationForm.firstName, {
            label: 'FirstName'
        }) }}
        {{ form_row(registrationForm.lastName, {
            label: 'LastName'
        }) }}
        <button type="submit" class="btn btn-danger">Register</button>
        {{ form_end(registrationForm) }}
    </div>
{% endblock %}

