<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    {{ include('base_block.html.twig') }}
    {% block head_css %}
    {% endblock %}
    {% block head_js %}

    {% endblock %}
    <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('assets/img/logo.png') }}">
    <title>{% block title %}{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
</head>
<body>
<header>
    {{ include('include/nav.html.twig') }}
</header>
{% block flash %}
    {% for flashError in app.flashes('error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}
    {% for flashSuccess in app.flashes('success') %}
        <div class="alert alert-success" role="alert">{{ flashSuccess }}</div>
    {% endfor %}
{% endblock %}

<div class="body">
    <div class="content">
        {% block body %}{% endblock %}
    </div>
</div>

{% block footer %} {{ include('include/footer.html.twig') }} {% endblock %}
{% block javascripts %}{% endblock %}
</body>
</html>
