{% import 'post/_upload_form.html.twig' as prototype %}
{{ form_start(form) }}
    {{ form_row(form.thumbnail) }}
<ul id="image-fields-list"
    class="tags list-group list-group-horizontal col-12 row"
    data-prototype="{{ prototype.uploadForm(form.images.vars.prototype)|e('html_attr') }}"
    data-widget-tags="{{ '<li></li>'|e }}"
    data-widget-counter="{{ form.images|length }}">

    {% for image in form.images %}
          {{ prototype.uploadForm(image) }}
    {% endfor %}

</ul>
<button type="button" class="add_item_link col-sm-12" data-collection-holder-class="tags">Add a tag</button>
<div class="row">
<ul id="video-fields-list"
    data-prototype="{{ form_widget(form.video.vars.prototype)|e }}"
    data-widget-tags="{{ '<li></li>'|e }}"
    data-widget-counter="{{ form.video|length }}">

    {% for image in form.video %}
        <li>
            {{ form_errors(video) }}
            {{ form_widget(video) }}
        </li>
    {% endfor %}

</ul>
</div>
<button type="button"
        class="add-another-collection-widget col-sm-12"
        data-list-selector="#video-fields-list">Add another video</button>
    {{ form_row(form.name) }}
    {{ form_row(form.content) }}
    {{ form_row(form.groups) }}
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
