{{ form_start(form) }}
{{ include('post/_add_media_form.html.twig') }}
    {{ form_row(form.name) }}
    {{ form_row(form.content) }}
    {{ form_row(form.groups) }}
<button class="btn btn-primary">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
