{% extends 'base.html.twig' %}
{% block stylesheets %}<link rel="stylesheet" href="{{ asset('assets/css/banner.css') }}">{% endblock %}
{% if post.images[0] is defined %}
    {% set defaultImages = 'assets/uploads/' ~ post.images[0] %}
{% else %}
    {% set defaultImages = 'assets/uploads/trickdefault.jpg' %}
{% endif %}
{% block title %}Post{% endblock %}

{% block body %}
    <div class="container">
        <div class="col-lg-12 border mt-5">
            <div class="banner">
                <img class="banner-img " src="{{ asset(defaultImages) }}" alt="Image du tricks {{ post.name }} ">
                <div class="text">
                    <h2 class="text-dark">{{ post.name }}</h2>
                </div>
                <div class="icon row ml-auto">
                    {{ include('post/_delete_form.html.twig') }}
                    <a href="{{ url('post_edit', {'id' : post.id}) }}">
                        <i class="fas fa-edit align-top"></i>
                    </a>
                </div>
            </div>
            <hr>
            <div class="mt-2 row">
                {% for p in post.images|slice(1) %}
                    <div class="col-lg-2">
                    <img src="{{ asset("assets/uploads/" ~ p ) }}" class="img img-fluid">
                    </div>
                {% endfor %}
                {% for v in post.video %}
                    <div class="col-lg-3 col-sm-12">
                    <iframe width="100%" height="80%" src="{{ v }}"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen ></iframe>
                    </div>
                {% endfor %}
            </div>
        <div class="col-lg-12">
            <div class="mx-5">{{ post.content|raw }}</div>
            <div class="row justify-content-between text-center mt-5">
                <p class="border rounded mr-2 col-lg-3">Crée le {{ post.createdAt|date('d/m/y') }}</p>
                <p class="border rounded mx-2 col-lg-3">{{ post.groups.name}}</p>
                {% if post.modifiedAt is not null %}
                    <p class="border rounded ml-2 col-lg-3">Modifier le {{ post.modifiedAt|date('d/m/y') }}</p>
                {% endif %}
            </div>
        </div>
            <hr>
            {% if form %}

                {{ form_start(form) }}
                <div class="row justify-content-center">
                    <div class="col-lg-6 ">
                {{ form_widget(form.content) }}
                    </div>
                <button type="submit" class="btn btn-success">Envoyer</button>
                </div>
                {{ form_end(form) }}
                <hr>
            {% endif %}
             {% for c in post.comment %}
            <div class="justify-content-center my-2 row">
                <img src="{{ asset('assets/uploads/'~ c.user.image) }}"  class="img img-fluid col-lg-1">
                <div class="border rounded col-lg-7">
                    <p class="small">{{ c.user.firstName }}.{{ c.user.lastName }} le {{ c.createdAt|date('d/m/y') }} à {{ c.createdAt|date('H:i') }}</p>
                    <p>{{ c.content }}</p>
                </div>
            </div>
            {% endfor %}

        </div>
    </div>


{% endblock %}
