{% extends 'base.html.twig' %}

{% block title %}{{ user.firstName }} {{ user.lastName }}{% endblock %}
{% block style %} <link rel="stylesheet" href="{{ asset('assets/css/profil.css') }}" type="text/css"> {% endblock %}
{% block body %}
    <div class="container emp-profile bg-dark text-light mt-5 p-5 rounded ">
        <div class="row">
            <div class="col-md-4">
                <div class="profile-img">
                    <img src="{{ asset('assets/uploads/' ~ user.image) }}" class="img img-fluid" alt="User Image"/>
                </div>
            </div>
            <div class="col-6">
                <div class="profile-head">
                    <h2 class="text-light text-center p-5">
                        {{ user.lastName }} {{ user.firstName }}
                    </h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="offset-4 col-8">
                <div class="row">
                    <div class="col-md-6">
                        <label class="text-light">Email :</label>
                    </div>
                        <div class="col-md-6">
                            <p class="text-light">{{ user.mail }}</p>
                        </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label>last name :</label>
                    </div>
                        <div class="col-md-6">
                            <p class="text-light">{{ user.lastName }}</p>
                        </div>
                </div>
                </a>
                <div class="row">
                    <div class="col-6">
                        <label>First name :</label>
                    </div>
                        <div class="col-6">
                            <p class="text-light">{{ user.firstName }}</p>
                        </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label>Password :</label>
                    </div>
                        <div class="col-md-6">
                            <p class="text-light">**********</p>
                        </div>
                </div>

                <div class="row">
                    <a class="btn btn-primary mr-5" href="{{ url('user_edit') }}">Modify the profil</a>
                    {{ include('user/_delete_form.html.twig') }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
