{% extends 'base.html.twig' %}

{% block title %}User{% endblock %}


{% block body %}
        <div class="container">
            <h3 class="text-center p-3">Vos article !</h3>
            <table class="table" style="margin-bottom: 150px;">

                <thead class="thead-dark">
                <tr>
                    <th scope="col">Utilisateur</th>
                    <th scope="col">Contenu</th>
                    <th scope="col">Post</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for post in post %}
                    <tr>
                        <td>{{ post.user.lastName }} {{ post.user.firstName }}</td>
                        <td>{{ post.content|striptags|slice(0,75) }}</td>
                        <td><a href="{{ url('post_show', {'id': post.id}) }}">Lien vers le post</a></td>
                        <td class="row">
                            {{ include('post/_delete_form.html.twig') }}
                            <a href="{{ url('post_edit', {'id': post.id}) }}">
                                <i class="fas fa-edit align-top"></i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            {% if form is not null %}
            <h2>Crée une nouvelle catégories de tricks !</h2>
            {{ form_start(form) }}
            {{ form(form) }}
                <button type="submit" class="btn btn-success ">Ajouter</button>
            {{ form_end(form) }}
            {% endif %}
        </div>
{% endblock %}
